.#*
*~
*#
#*
*.log
*.tmp
.DS_Store
**/npm-cache
/node_modules
/tmp
.idea/
.vscode/
.idea/workspace.xml
dist/docs/
/dist
/.idea/
.idea
target/
lrModel/
rfModel/
dtModel/

*.class
*.log

target/
project/target/
api/
project/

*.iml
.idea

output\.html
/CSYEoutput.html
/.bsp/
sbt.json